* {
    padding: 0;
    margin: 0;
}
body {
    background-color: black;
    color: white;
    font-family: montserrat;
}
ul {
    list-style: none;
}
.container {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.logo {
    width: 130px;
    margin-left: 20px;
}

.hide-mobile {
    display: none;
}
.toggler {
    position: relative;
    margin-top: 40px;
    margin-right: 30px;
}

.main-nav ul {
    background-color: rgb(175, 9, 9);
    position: fixed;
    width: 100%;
    right: 0;
    top: 0;
    text-align: center;
    height: 100%;
    padding-top: 35px;
}
.main-nav ul li a {
    text-decoration: none;
    color: white;
    padding: 20px;
    display: block;
    }

.main-nav ul li a:hover {
    background-color: white;
    color: red;

}
.exit-btn {
    text-align: right;
    padding-right: 20px;
    cursor: pointer;
}
.main-ux {
    width: 70%;
    margin-top: 100px;
    text-align: center;
    margin-left: 17%;
}
.main-ux h1, p {
    padding: 5px;
}
.ux-folder img {
    width: 400px;
    height: auto;
    padding: 20px;
    transition: all 1s;
}
.ux-folder img:hover {
    transform: scale(1.5);
}
.ux-folder {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.ux-folder a {
    text-decoration: underline;
    color: white;
    cursor: pointer;

}
.ux-folder a:hover {
    color: red;
}

.ux-folder, .foodfinder, .proudtv, .kwara, .findmyevent, .nta {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}
@media only screen  and (min-width: 767px) {

    .hide-mobile {
        display: initial;
    }
    .main-nav ul {
    position: initial;
    width: auto;
    background: none;
    height: auto;
    display: flex;
    padding-top: 1px;
    }

    .main-nav ul li a {
        font-size: 14px;
    }
    .logo {
        margin-top: 15px;
    }

    .main-nav ul li a:hover {
        color: red;
        background-color: initial;
        font-weight: bold;
    }
    .hide-desktop {
        display: none;
    }
}

@media only screen and (max-width: 320px) {
    .main-ux p {
        font-size: 10px;
    }
    .main-ux h1 {
        font-size: 16px;
    }

}

@media   only screen and (max-width: 425px) {

    .ux-folder img {
        width: 190px;
    }
    .ux-folder img:first-child {
        width: 200px;
    }
    .ux-folder a  {
        font-size: 10px;
    }
    .ux-folder h3 {
        font-size: 15px;
        padding-bottom: 15px;
    }
    .main-ux p {
        font-size: 12px;
    }
    .main-ux p {
        font-size: 10px;
    }
    .main-ux h1 {
        font-size: 12px;
    }
}